.footer-container
    margin-top: 4rem
    .main-footer
        display: flex
        flex-direction: column
        padding: 0 1rem
        background-color: #E7E6F6
        gap: 4rem
        & > img
            margin-top: 2.25rem
        h4
            color: var(--color-primary)
            margin-bottom: 1rem
            font-weight: 700
            font-size: 18px
        a
            color: var(--color-primary)
            text-decoration: none
            font-size: 1rem
        p
            margin-bottom: 0.75rem
        .social-media
            display: flex
            gap: 1rem
    .secondary-footer
        background-color: #F1F0FF
        color: #9292A0
        a
            text-decoration: none
            color: #9292A0
         
