<div class="footer-container">
  <footer class="main-footer">
    <img src="../../../assets/logo 1.svg" alt="" />
    <section class="social-media">
      <h4>Follow us</h4>
      <div>
        <img
          src="../../../assets/194909_social media_twitter_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
        <img
          src="../../../assets/194929_facebook_social media_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
        <img
          src="../../../assets/194904_social media_youtube_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
      </div>
    </section>
    <section class="information">
      <div>
        <h4>Destinations</h4>
        <p><a href="">Madrid</a></p>
        <p><a href="">Barcelona</a></p>
        <p><a href="">London</a></p>
        <p><a href="">Paris</a></p>
        <p><a href="">Rome</a></p>
      </div>
      <div>
        <h4>Legal information</h4>
        <p><a href="">Privacy policy</a></p>
        <p><a href="">Cookie policies</a></p>
        <p><a href="">data treatment</a></p>
      </div>
      <div>
        <h4>Book your flight</h4>
        <p><a href="">Search flights</a></p>
        <p><a href="">Price calendar</a></p>
        <p><a href="">Destination map</a></p>
        <p><a href="">Flight times</a></p>
        <section class="social-media-big">
          <h4>Follow us</h4>
          <div class="social-media-icons">
            <img
              src="../../../assets/194909_social media_twitter_icon 1.svg"
              alt=""
              width="50"
              height="50"
            />
            <img
              src="../../../assets/194929_facebook_social media_icon 1.svg"
              alt=""
              width="50"
              height="50"
            />
            <img
              src="../../../assets/194904_social media_youtube_icon 1.svg"
              alt=""
              width="50"
              height="50"
            />
          </div>
        </section>
      </div>
    </section>
  </footer>
  <footer class="secondary-footer">
    <a href="">Website terms of use</a>&nbsp; |&nbsp;<a href="">Site map</a>
    &nbsp;| &nbsp;<a href="">environment</a>
    &nbsp;|&nbsp;
    <a href="">contact@arilines.com</a>
  </footer>
</div>
