<div class="footer-container">
  <footer class="main-footer">
    <img src="../../../assets/logo 1.svg" alt="" width="180" height="57.68" />
    <section>
      <h4>Follow us</h4>
      <div class="social-media">
        <img
          src="../../../assets/194909_social media_twitter_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
        <img
          src="../../../assets/194929_facebook_social media_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
        <img
          src="../../../assets/194904_social media_youtube_icon 1.svg"
          alt=""
          width="50"
          height="50"
        />
      </div>
    </section>
    <section>
      <div>
        <h4>Follow us</h4>
        <p><a href="">Madrid</a></p>
        <p><a href="">Barcelona</a></p>
        <p><a href="">London</a></p>
        <p><a href="">Paris</a></p>
        <p><a href="">Rome</a></p>
      </div>
      <div>
        <h4>Follow us</h4>
        <p><a href="">Madrid</a></p>
        <p><a href="">Barcelona</a></p>
        <p><a href="">London</a></p>
        <p><a href="">Paris</a></p>
        <p><a href="">Rome</a></p>
      </div>
      <div>
        <h4>follow</h4>
        <p><a href="">Madrid</a></p>
        <p><a href="">Barcelona</a></p>
        <p><a href="">London</a></p>
        <p><a href="">Paris</a></p>
        <p><a href="">Rome</a></p>
      </div>
    </section>
  </footer>
  <footer class="secondary-footer">
    <a href="">Website terms of use</a>
    |<a href="">Site map</a> | <a href="">environment</a> |
    <a href="">contact@arilines.com</a>
  </footer>
</div>
